{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": [ 2, "never" ],
    "no-console": 1,
    "no-control-regex": 2,
    "no-debugger": 1,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,

    "no-case-declarations": 2,
    "no-param-reassign": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-unused-expressions": [ 2, { "allowShortCircuit": true } ],
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "vars-on-top": 2,

    "strict": [ 2, "function" ],
    "no-undef-init": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 2,

    "global-require": 2,
    "no-new-require": 2,

    "array-bracket-spacing": [ 2, "always" ],
    "block-spacing": [ 2, "always" ],
    "brace-style": [ 2, "1tbs", { "allowSingleLine": false } ],
    "camelcase": [ 2, { "properties": "always" } ],
    "comma-spacing": [ 2, { "before": false, "after": true } ],
    "eol-last": 2,
    "func-style": [ 2, "expression" ],
    "indent": [ 2, 4, { "SwitchCase": 1 } ],
    "key-spacing": [ 2, { "beforeColon": false, "afterColon": true } ],
    "newline-after-var": [ 2, "always" ],
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": [ 2, { "max": 2, "maxEOF": 1 } ],
    "no-spaced-func": 2,
    "no-trailing-spaces": [ 2, { "skipBlankLines": true } ],
    "no-unneeded-ternary": 2,
    "object-curly-spacing": [ 2, "always" ],
    "operator-linebreak": [ 2, "none" ],
    "quote-props": [ 2, "always" ],
    "quotes": [ 2, "single", "avoid-escape" ],
    "semi": [ 2, "always" ],
    "space-after-keywords": [ 2, "always" ],
    "space-before-blocks": [ 2, "always" ],
    "space-before-function-paren": [ 2, "never" ],
    "space-before-keywords": [ 2, "always" ],
    "space-in-parens": [ 2, "always" ],
    "spaced-comment": [ 2, "always" ],
    "no-dupe-class-members": 2
  }
}
